<?xml version="1.0" encoding="utf-8"?>
<configs>
	<logo>logo.png</logo>
	<title>香港海關</title>
	<subtitle>海關訓練學校</subtitle>
	<background>e-Notice_customs_bg.jpg</background>
	<banner>i</banner>
	<menuitems>
	  <menuitem>
		<id>0</id>
		<fun>0</fun>
		<label></label>
		<module></module>
		<xmllink></xmllink>
		<background>button_1.png</background>
	  </menuitem>	
	  <menuitem>
		<id>1</id>
		<fun>1</fun>
		<label>關於我們</label>
		<module></module>
		<xmllink></xmllink>
		<background>button_2.png</background>
	  </menuitem>
	  <menuitem>
		<id>2</id>
		<fun>0</fun>
		<label></label>
		<module></module>
		<xmllink></xmllink>
		<background>button_3.png</background>
	  </menuitem>
	  <menuitem>
		<id>3</id>
		<fun>1</fun>
		<label>最新消息</label>
		<module></module>
		<xmllink></xmllink>
		<background>button_4.png</background>
	  </menuitem>
	  <menuitem>
		<id>4</id>
		<fun>0</fun>
		<label></label>
		<module></module>
		<xmllink></xmllink>
		<background>button_5.png</background>
	  </menuitem>	  
	  <menuitem>
		<id>5</id>
		<fun>1</fun>
		<label>其他資料</label>
		<module></module>
		<xmllink></xmllink>
		<background>button_6.png</background>
	  </menuitem>
	  <menuitem>
		<id>6</id>
		<fun>0</fun>
		<label></label>
		<module></module>
		<xmllink></xmllink>
		<background>button_7.png</background>
	  </menuitem>
	  <menuitem>
		<id>7</id>
		<fun>1</fun>
		<label>活動相片</label>
		<module></module>
		<xmllink></xmllink>
		<background>button_8.png</background>
	  </menuitem>
	  <menuitem>
		<id>8</id>
		<fun>0</fun>
		<label></label>
		<module></module>
		<xmllink></xmllink>
		<background>button_9.png</background>
	  </menuitem>	  
	</menuitems> 
</configs>